.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-top: 0;
  background-color: var(--primary-bg-color);
}
.hero-main {
  max-width: 696px;
}
.hero-title {
  margin-bottom: var(--item-space-gap);

  color: var(--main-light-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  min-width: 200px;
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-light-color);
  background-color: var(--accent-color);

  transform: background-color var(--transition-time) var(--function-time);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn-color);
}
